*{
    padding: 0;    
    margin: 0;
}

body{
    background: url('../resource/images/ApexLegends_tiwch1.jpg') no-repeat;
    background-size:100%;
}

#inputBox{
    width: 550px;
    height: auto;
    border-radius: 15px;
    padding: 10px 30px 20px;
    margin: 0 auto;
    margin-top: 250px;
    background: #000000be;
    text-align: center;
}

#boxTitle{
    margin: 20px 0px;
}

#title1{
    color: #db4b4b;
    font-size: 30px;
}

#title2{
    color: #cccccc;
    font-size: 30px;
}

.inputItem{
    margin-top:15px;
}

.inputItem label{
    display: inline-block;
    width: 4em;
    font-size:18px;
    color:#fff;
}

.inputItem input{
    
    padding:5px 10px;
    border:0;
    border-bottom:2px solid #db4b4b;
    background:#ffffff00;
    font-size:18px;
    text-align: left;
    color:#fff;
}

.inputItem #accountError,#passwordError{
    margin-top: 10px;
    font-size: 14px;
    color: #db4b4b;
}

#inputBox button{
    
    width:190px;
    height:30px;
    border:0;
    border-radius:15px;
    margin-top:20px;
    background-image: linear-gradient(to right, #f861cb 0%, #66e6f7 100%);
    font-size:20px;
    font-weight:600;
    color:#fff;

}

#inputBox button:hover{
    background-image: linear-gradient(to right, #f861cb98 0%, #66e6f798 100%);
}

#jumpLink{
    display: inline-block;
    margin: 10px 0px;
    text-decoration: none;
    color: #fff;
}

#jumpLink:hover{
    text-decoration: underline;
    color: #db4b4b;    
}